<h1>Invites#index</h1>
<% @invites.each do |g| %>
<br>
     Name:
	<%= g.fname %>
	<br>
	   Last Name :
	<%= g.lname %>
	<br>
    
<%= link_to "Delete", invite_path(g) %>
<%= link_to "Edit", invite_path(g)%>
<%end%>

