<div class ="form">
<h2 class="lobster">Invites</h2>
<% @invites.each do |g| %>
<br>
     Name:
	<%= g.fname %>
	<br>
	   Last Name :
	<%= g.lname %>
	<br>
    
<%= link_to "Delete", invite_path(g) %>
<%= link_to "Edit", invite_path(g)%>
<%end%>
</div>
