/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
     font-family: Arial, Helvetica, sans-serif;
}
.sans{
     font-family: Arial, Helvetica, sans-serif;
}
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover:not(.active) {
    background-color:red;
}
.c{
  height:2px;
  width:2px;
  background-color: white;

}
h1.lobster { 
    font-family: 'Pacifico', cursive;
    font-weight: 400;
   font-size: 400%;
   text-align: center;
}
   .lobster{ 
      font-family: 'Pacifico', cursive;
      font-weight: 400;
   }
   p{
      font-family: Arial, Helvetica, sans-serif;
   }
.invite{
    border-style:solid;
    color:black;
    background-color:black;
    width:400px;
    height:400px;
    text-align: center;
    margin-top: 300px;
    margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  color:white;

}
.product{
     border-style:solid;
    color:black;
    background-color:black;
    width:400px;
    height:400px;
    text-align: center;
    margin-top: 300px;
    margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  color:white;

}
.button1{
   float:right;
    background-color: #4C4CFF;
    color:white;
    width:200px;
    height:100px;
    border-radius: 10px;
    border-color: red;
    cursor: pointer;
    display: inline-block;
}

.button2{
  float:left;
    background-color: blue;
    color:white;
    width:200px;
    height:100px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
}
.hidden{
  overflow: hidden;

}

.delete{

}
.edit{

}
.showguest{
  display: block;
  float:right;
  background-color: #ff6a05;
  color:white;
  width:100px;
  height:50px;
  border-radius: 10px;
}
.showproduct{
  display: block;
  float:left;
  background-color: #ff6a05;
  color:white;
  width:100px;
  height:50px;
  border-radius: 10px;
}