<div class="form">
<h3 class="lobster">Products</h3>
<%@products.each do |f| %>
<br>
	<div class="sans">Name:<%= f.name %></div>
	<br>
	<div class="sans">Price:<%= f.price %></div>
	<br>
	<div class="sans">Quantity:<%= f.quantity %></div>
	<br>

<%= link_to "Edit", product_path(f) %>
<!-- this does not work  -->

	
<!-- guessing this is how to link the add to shopcart method -->
<%end %>

</div>

